extends layout

block content
  h1 Vectorizer
  form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="displayImage")
    input(type='submit', value='Vectorize!')
